.button > a{
    text-decoration: none;
}

.btn{
    display: flex;
    gap: 0.5em;
    justify-content: flex-start;
    align-items: center;
    border: none;
    outline: none;
    background-color:var(--navy);
    color: var(--black);
    font-weight: 600;
    font-size: 1.1rem;
    padding: 0.75rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 0.45rem;
    cursor: pointer;
    min-width: 150px;
}

.arrowIcon{
    color: var(--white);
}