.aboutSection{
    margin:0 auto;
}
.imgArea .img{
    border-radius: 37% 68% 74% 62% / 24% 13% 98% 98%;
    width: 300px;
    height: 300px;
}


@media screen and (max-width:640px) {
    .img{
        width: 175px !important;
        height: 175px !important;
    }
}
